@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.container .background-img-container {
  background: url(./benjamin-voros-phIFdC6lA4E-unsplash-medium.jpg);
  background-size: cover;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .background-img-container .logo {
  font-family: "Oswald", sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 100%;
  margin-top: 20%;
}

.container .background-img-container .logo .logo-image {
  width: 100px;
  height: 100px;
}

.container .background-img-container .logo span {
  color: #fff;
  font-size: 4rem;
}

.container .background-img-container .attribution {
  margin-top: auto;
}

.container .background-img-container .attribution,
.container .background-img-container .attribution a {
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container main .hero {
  padding: 1rem 1.5rem;
}

.container main .form-container .form-input {
  padding: 1rem 1.5rem;
  background-color: #12335c;
  color: #fff;
}

.container main .form-container .form-input h3 {
  margin-top: 0;
}

.container main .form-container .form-input ul {
  width: 90%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container main .form-container .form-input ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-bottom: 1rem;
}

.container main .form-container .form-input ul li :nth-child(1n) {
  margin-right: 10%;
}

.container main .form-container .form-input ul li label {
  padding-bottom: 5px;
}

.container main .form-container .form-input ul li input {
  padding: 5px 10px;
  font-size: 0.875rem;
  border-radius: 3px;
  border: none;
}

.container main .form-container .form-input ul li :focus {
  outline: #4895ef solid 2px;
  border: 1px solid #12335c;
  -webkit-box-shadow: 0 10px 10px 0px rgba(49, 49, 49, 0.6);
          box-shadow: 0 10px 10px 0px rgba(49, 49, 49, 0.6);
}

.container main .form-container .form-input ul li .error {
  border: 1px solid #d00000;
  outline: none;
}

.container main .form-container .form-input ul li .valid {
  border: 2px solid #52b788;
  outline: none;
}

.container main .form-container .form-input #phone {
  -moz-appearance: textfield;
}

.container main .form-container .form-input #phone ::-webkit-inner-spin-button {
  display: none;
}

.container main .form-container .form-input #phone ::-webkit-outer-spin-button,
.container main .form-container .form-input #phone ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container main .form-container .form-confirmation {
  padding: 1.2rem 1.5rem;
}

.container main .form-container .form-confirmation .form-button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #12335c;
  color: #fff;
  cursor: pointer;
}

.container main .form-container .form-confirmation .login {
  color: #12335c;
}

.password-mismatch {
  color: #d00000;
  font-size: 1rem;
}

@media screen and (max-width: 720px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
  }
  .container .background-img-container {
    height: 200px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .container .background-img-container .logo {
    margin-top: 0;
  }
  .container .background-img-container .attribution {
    margin-top: 50px;
  }
  .container main .form-container .form-input ul {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .container main .form-container .form-input ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container main .form-container .form-input ul li {
    width: 100%;
  }
  .container main .form-container .form-input ul li :nth-child(1n) {
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */